<h1>&#127828; Get Fat &#127856;<br>&#127837; Or &#127829;<br>&#127836; Die Trying &#127849;</h1>

<div class="home">
<p>The ultimate Sydney food guide unless you like French, try Bonny for that.</p>
<br>
<p>Add your foodie adventures to the database otherwise I'll run out of places to eat.</p>
<br>
<% if @current_user.present? %>
Welcome back <%= @current_user.email %>
<% end %>
</div>
