<h1>All Restaurants</h1>

<div class="gallery">
  <% @restaurants.each do |restaurant| %>
    <div class="wrapper">
    <%= link_to image_tag(restaurant.image, :class => 'img-fluid restaurant-thumbnail img-thumbnail', :alt => restaurant.name), restaurant, :name => restaurant.name %>
    <div class="text">
      <p><%= restaurant.name %></p>
    </div>
  </div>
  <% end %>
</div>
